#root {
  position: relative;
  min-height: 100vh;
  text-align: center;
}

/* Nav || */

.sidebar>ul>li {
  cursor: pointer;
  transition: 0.8s;
}

@media only screen and (max-width: 600px) {
  .sidebar {
    position: absolute;
    left: -55vw;
    height: 100%;
    width: 55vw;
    background: #222222;
    text-align: start;
    transition: 0.4s;
    color: #FEFEFE;
    font-size: 1.5rem;
  }

  .open-nav {
    left: 0;
  }

  .sidebar ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 55vh;
  }

  .sidebar ul li {
    padding-left: 20%;
    list-style: none;
  }

  .sidebar>ul>li:hover {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background: #FEFEFE;
    color: #222222;
  }

  .menu-icon {
    position: absolute;
    right: -1.3em;
    margin: 0.1em;
    cursor: pointer;
    color: #FEFEFE;
    font-size: 4rem;
  }

  .nav-icon {
    display: none;
  }
}

@media only screen and (min-width: 601px) {
  .sidebar {
    display: flex;
    align-items: center;
    background: #222222;
    color: #FEFEFE;
    height: 4em;
    font-size: 1.3rem;
  }

  .sidebar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }

  .sidebar ul li {
    list-style: none;
  }

  .sidebar>ul>li:hover {
    border-radius: 10px;
    padding: 0.4em 0.6em;
    background: #FEFEFE;
    color: #222222;
  }

  .menu-icon {
    display: none;
  }
}

/* Pages || */

.btn-wrapper {
  margin-top: 5%;
}

a>button {
  box-shadow: 0 0 2px 1px #222222;
  border: none;
  border-radius: 50px;
  max-width: 90vw;
  padding: 0.8em 1.4em;
  background: #222222;
  font-size: 1.5rem;
  color: #FEFEFE;
  transition: 0.8s;
}

a>button:hover {
  border-radius: 8px;
  background: #FEFEFE;
  color: #222222;
}

a>button:active {
  transform: scale(0.95);
}

/* Home || */

@media only screen and (max-width: 600px) {
  .mobile-header {
    background: #3c6e71;
    height: 77px;
  }

  .contents-wrapper {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
  }

  .text-wrapper {
    margin-top: 10%;
    max-width: 90vw;
  }

  .text-wrapper>span,
  .text-wrapper>h1,
  .text-wrapper>h2,
  .text-wrapper>p {
    padding: 15px 0;
  }

  .text-wrapper>span {
    font-size: 2.2rem;
    font-weight: 600;
  }

  .text-wrapper>h1 {
    font-size: 2.5rem;
    font-weight: 600;
  }

  .text-wrapper>h2 {
    font-size: 1.6rem;
    font-weight: 600;
  }

  .text-wrapper>p {
    font-size: 1.03rem;
    text-align: justify;
  }

  .btn-wrapper {
    margin-bottom: 10%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1280px) {
  .profile-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
  }

  .text-wrapper {
    max-width: 80%;
    text-align: start;
  }

  .text-wrapper>span,
  .text-wrapper>h1,
  .text-wrapper>h2,
  .text-wrapper>p {
    padding: 11px 0;
  }

  .text-wrapper>span {
    font-size: 2.5rem;
    font-weight: 600;
  }

  .text-wrapper>h1 {
    font-size: 3rem;
    font-weight: 600;
  }

  .text-wrapper>h2 {
    font-size: 2.5rem;
    font-weight: 600;
  }

  .text-wrapper>p {
    font-size: 1.1rem;
    text-align: justify;
  }

  .btn-wrapper {
    margin-bottom: 5%;
  }
}

@media only screen and (min-width: 1281px) {
  .mobile-header {
    display: none;
  }

  .contents-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .profile-wrapper {
    display: flex;
    justify-content: center;
  }

  .text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 80%;
    text-align: start;
  }

  .text-wrapper>span,
  .text-wrapper>h1,
  .text-wrapper>h2,
  .text-wrapper>p {
    padding: 11px 0;
  }

  .text-wrapper>span {
    font-size: 2.5rem;
    font-weight: 600;
  }

  .text-wrapper>h1 {
    font-size: 3rem;
    font-weight: 600;
  }

  .text-wrapper>h2 {
    font-size: 2.5rem;
    font-weight: 600;
  }

  .text-wrapper>p {
    font-size: 1.1rem;
    text-align: justify;
  }

  .btn-wrapper {
    margin-bottom: 5%;
  }
}

.img-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-img {
  object-fit: cover;
  border-radius: 40px;
  width: 80%;
  max-width: 550px;
  aspect-ratio: 1/1;
  box-shadow: 0 0 6px 1px #222222;
}

/* Projects || */

.projects-section>p {
  text-align: justify;
}

@media only screen and (max-width: 600px) {
  .projects-section>h1 {
    margin-bottom: 10%;
    font-size: 2.5rem;
  }
  .projects-section>div>ul {
    margin-bottom: 10%;
  }
}

@media only screen and (min-width: 601px) {
  .projects-section>h1 {
    margin-bottom: 5%;
    font-size: 3rem;
  }
}

/* Footer || */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  footer {
    height: 77px;
    background: #3c6e71;
  }
}

@media only screen and (min-width: 601px) {
  footer {
    height: 83px;
    background: #222222;
  }
}