* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Noto Sans', sans-serif;
  background: #FEFEFE;
  color: #222222;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  cursor: pointer;
}

h1 {
  font-weight: 600;
}

@media only screen and (max-width: 600px) {
  main {
    margin-top: 10%;
    padding-bottom: 77px;
  }
}

@media only screen and (min-width: 601px) {
  main {
    margin-top: 5%;
    padding-bottom: 83px;
  }
}